$primary-background-color: #358bbc;
$secondary-background-color: #6eabce;

$primary-color: white;
$secondary-color: #236185;
$tertiary-color: #ffef64;

$primary-button-color: #ffef64;

$gray-dark: #252b42;
$gray-primary: #737373;
$gray-secondary: #868686;

$gradient: linear-gradient(72.77deg, #edeef6 11.72%, rgba(237, 238, 246, 0), 98.52%);
